/* styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: #0c6da9;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

h1,
h2 {
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.section img {
  max-width: 100%;
  height: auto;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.projects,
.interviews {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}
